/*RESETAR TODAS AS CONFIGURAÇÕES PADRÃO*/
/*=====RESET=======*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}

/*===== VARIABLE =====*/
:root {
    --header-heigth: 4.5rem;

    /*--color--*/
    --hue: 276;
    --title-color: hsl(var(--hue) 41% 10%);
    --base-color: hsl(var(--hue) 36% 57%);
    --base-color-second: hsl(var(--hue) 65% 88%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --body-color: hsl(0 0% 98%);
    --shadow-color: hsla(0, 0%, 0%, 0.1);
    --dark-text-color: hsla(0, 0%, 20%, 1);
    --text-color: rgba(118, 118, 118, 1);


    /*--fonts--*/
    --font-size-title: 1.75rem;
    /*font 30*/
    --font-size-subtitle: 1.5rem;
    /*font 24*/
    --font-size-text: 1rem;
    /*font 16*/
    --font-size-icon: 1.3rem;
    /*font 24*/
    --font-size-icon-card: 5rem;
    /*font 80*/

    --font-type-title: 'Poppins', Sans-serif;
    --font-type-body: 'DM Sans', sans-serif;

    /*--logo--*/
    --logo-size: 1.5rem;
    /*margem 24*/

    /*--button--*/
    --button-padding: 1.125rem 2rem;
    /*margem 24*/
}


/*=====LAYOUT========*/
.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.section {
    padding: calc(4rem + var(--header-heigth)) 0;
}

.title {
    font: 700 var(--font-size-title) var(--font-type-title);
    color: var(--title-color);
    -webkit-font-smoothing: auto;
    margin: 0 0 1rem 0;
    color: var(--title-color);
}

h3 {
    font: 700 var(--font-size-subtitle) var(--font-size-title);
    color: var(--title-color);
    margin: 1.5rem 0;
    margin-bottom: 0.75rem;
}

.text p {
    max-width: 100%;
    text-align: left;
    color: var(--text-color);
}

.grid {
    display: grid;
    gap: 2rem;
}



html {
    scroll-behavior: smooth;
}

body {
    font: 400 var(--font-size-text) var(--font-type-body);
    color: var(--text-color);
    letter-spacing: 0.03rem;
    background: var(--body-color);
    -webkit-font-smoothing: antialiased;
}

#header {
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: var(--body-color);
}

#header.scroll {
    background: var(--base-color-second);
    box-shadow: 0 1px 3px var(--shadow-color);
}

.button {
    color: var(--body-color);
    background-color: var(--base-color);

    height: 3.5rem;
    padding: var(--button-padding);
    border-radius: 0.25rem;
    letter-spacing: 0.06rem;
    display: inline-flex;
    align-items: center;
    font: 400 var(--font-size-text) var(--font-type-body);
    transition: backgroud 0.3s;
}

.button:hover {
    background: var(--base-color-alt);
}

.icon {
    font-size: var(--font-size-icon);
}


/*=====LOGO=======*/
.logo {
    font: 700 var(--logo-size) var(--font-type-title);
    color: var(--title-color);
}

.logo span {
    color: var(--base-color);
}

/*=====NAVEGATION=========*/
nav {
    height: var(--header-heigth);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


/*===MOSTRAR MENU===*/
nav .menu {
    opacity: 0;
    visibility: hidden;
    top: -20rem;
    /*MENU desce...*/
    transition: 0.3s;
    /*MENU...nessa transição e o...*/
}

nav .menu ul {
    display: none;
    /*MENU...serve para que o menu não pisque ao fechar...*/
}

nav.show .menu {
    /*nav.show sem espaço quer dizer que o NAV vai receber uma classe Show. Ao ser clicado mostra o menu*/
    opacity: 1;
    visibility: visible;

    background: var(--body-color);

    height: 100vh;
    width: 100vw;
    /*coloca uma caixa visivel para o menu*/

    position: fixed;
    top: 0;
    left: 0;
    /*mantem a caixa fixa em cima do conteúdo e alinhado a esquerda e topo*/

    display: grid;
    /*habilita outras opções*/
    place-content: center;
    /*alinha o menu ao meio verticalmente*/
}

nav.show .menu ul {
    display: grid;
    /*MENU...apresenta o conteudo com modelo de grade...*/
}

nav ul li {
    text-align: center;
}

nav ul li a {
    transition: color 0.2s;
    /*quando houver transitions, deve especificar onde deve ser aplicado ex: color, height, width, backgroud...*/
    position: relative;
}

nav ul li a:hover,
nav ul li a.active {
    color: var(--base-color);
}

nav ul li a::after {
    /*quando o mouse estiver em cima - hover- apos o conteudo estiver ativo, APARECER UMA LINHA EM BAIXO DA PALAVRA*/
    content: " ";
    width: 0%;
    /*mantem alinha na base para que não apareça antes do :hover*/
    height: 2px;
    background: var(--base-color);

    position: absolute;
    /*vai ser absoluto ao pai A que deve receber um position: relative*/
    left: 0;
    /*coloca a linha alinhado a esquerda e abaixo do pai A*/
    bottom: -1.5rem;

    transition: width 0.2s;
    /*faz com que a transição do width 0 para o 100*/
}

nav ul li a:hover::after,
nav ul li a.active::after {
    width: 100%;
    /*aparece quando o :hover estiver ativado*/
}


nav.show ul.grid {
    /*será grid somente quando for show, vai funcionar somente para o menu hamburger porque quando for em web não terá menu*/
    gap: 4rem;
}

/*===toggle menu===*/
.toggle {
    color: var(--base-color);
    font-size: var(--font-size-subtitle);
    /*tamanho do menu hamburguer*/
    cursor: pointer;
    /*quando o mouse passar por cima do icone clicavel o ponteiro muda*/
}

nav .icon-close {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -1.5rem;
    /*transição do icone do menu, vai começar de cima e....*/
    right: 1.5rem;

    transition: 0.2s;
    /*transição suave do icone do menu de cima para baixo ao abrir*/
}

nav.show div.icon-close {
    visibility: visible;
    opacity: 1;
    top: 1.5rem;
    /*...termina em 0*/
}


/*=====HOME=========*/
#home {
    overflow: hidden;
    /*limita a imagem verde a margem do header, não deixando ultrapassar o limite do header*/
}

#home .container {
    margin: 0;
}

#home .image {
    position: relative;
    right: 2.93rem;
    /*empura a imagem 5rem para a direita*/
}

#home .image::before {
    /*o SUDO ELEMENT pelo css pode criar um elemento fantasfama dentro do HTML*/
    content: '';
    height: 100%;
    width: 100%;
    background: var(--base-color-second);
    position: absolute;
    /*so funciona se tiver um Position relative na #home .image*/
    top: -12.3%;
    left: 14.7%;
    border-radius: 0.25rem;
    z-index: 0;
    /*só é habilitado pelo position e coloca o elemento o elemento criado na frente ou atras da imagem, a imagem está na posição 0*/
}

#home .image img {
    position: relative;
    /*habilita propriedades como right: para mover a imagem ou outro elemento*/

    border-radius: 0.25rem;
}

#home .text {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
}

#home .text p {
    margin-bottom: 2rem;
    text-align: center;
}

/*===ABOUT=======*/
#about .container {
    margin: 0;
}

#about .text h2 {
    margin-bottom: 1rem;
    text-align: left;
}

#about .text {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

#about .image {
    width: 100%;
    height: auto;
}

#about .image img {
    position: relative;
    /*habilita propriedades como right: para mover a imagem ou outro elemento*/

    border-radius: 0.25rem;
}

#about .image::before {
    /*o SUDO ELEMENT pelo css pode criar um elemento fantasfama dentro do HTML*/
    content: '';
    height: 100%;
    width: 100%;
    background: var(--base-color-second);
    position: absolute;
    /*so funciona se tiver um Position relative na #home .image*/
    top: -10.3%;
    left: -33%;
    border-radius: 0.25rem;
    z-index: 0;
    /*só é habilitado pelo position e coloca o elemento o elemento criado na frente ou atras da imagem, a imagem está na posição 0*/
}

/*=====SERVICE=========*/
.text span {
    font: 700 var(--font-size-text) var(--font-type-title);
    color: var(--base-color);
}

#service .grid {
    gap: 1.5rem;
}

#service .text p {
    font: 500 var(--font-size-text) var(--font-type-body);
}

#service .text {
    margin-bottom: 2rem;
}

.card-service {
    /*formação dos cards*/
    padding: 3.625rem 2rem;
    box-shadow: 0px 0px 12px var(--shadow-color);
    border-bottom: 0.25rem solid var(--base-color);
    border-radius: 6rem 0;
    text-align: center;
}

.card-service i {
    display: block;
    margin-bottom: 1.5rem;
    font-size: var(--font-size-icon-card);
    color: var(--base-color);
    border-radius: 0.25rem;
}


/*=====TESTIMONIALS=======*/
#testimonials .title {
    margin-bottom: 0;
}

#testimonials .container {
    margin-left: 0;
    /*usando a especificidade, retira todas as margens do  container para que o card se ajuste ao gride da pagina...*/
    margin-right: 0;
    position: relative;
    overflow: hidden;

}

#testimonials header {
    margin-left: 1.5rem;
    /*...ajusta a margem do header para que o titulo fique ajustado com o grid da pagina*/
    margin-right: 1.5rem;
}

#testimonials blockquote {
    padding: 2rem;
    box-shadow: 0px 1px 12px var(--shadow-color);
    border-radius: 0.25rem;
}

#testimonials blockquote p {
    position: relative;
    margin-bottom: 1.5rem;
    color: var(--dark-text-color);
    text-indent: 1.875rem;
}

#testimonials blockquote p span {
    font: 700 2.5rem serif;
    color: var(--base-color);
    max-height: 1.5rem;

    position: absolute;
    top: -0.7rem;
    left: -1.875rem;
}

#testimonials cite {
    display: flex;
    align-items: center;
    font-style: normal;
}

#testimonials cite img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    /*dimensiona o conteudo e preenche a caixa de conteudo*/
    clip-path: circle();
    /*CRIA GEOMETRIAS DENTRO DA PAGINA*/
    margin-right: 0.5rem;
}

/*==swiper== especifidade*/
.swiper-slide {
    padding: 4rem 1rem;
    /*coloca padding nas margens externas para manter o tamanho dos cards dentro do tamanho da tela*/
    height: auto;
}

.swiper-pagination-bullet {
    width: 0.75rem;
    height: 0.75rem;
}

.swiper-pagination-bullet-active {
    background: var(--base-color);
    /*bullet-active quando selecionado fica na cor padrão do site*/
}


/*=====CONTACT========*/
#contact .grid {
    gap: 4rem;
}

#contact .links .grid {
    gap: 2rem;
}

#contact .text p {
    margin-bottom: 2rem;
}

#contact .button i,
#contact ul li i {
    font-size: 1.5rem;
}

#contact .icon-whatsapp {
    font-size: var(--font-size-icon);
    margin-right: 0.625rem;
}

#contact li {
    display: flex;
    font-size: var(--font-size-text);
}

.links i {
    color: var(--base-color);
    margin-right: 0.625rem;
}

/*=====FOOTER=======*/

footer {
    background: var(--base-color);
    color: var(--body-color);
}

footer.section {
    padding: 4rem 0;
}

.brand span {
    color: var(--body-color);
}

.brand .copy {
    margin-top: 1.5rem;
}

.brand .reserved {
    margin-top: 0.75rem;
}

footer i {
    font-size: var(--font-size-icon);
    color: var(--body-color);
}

footer .social {
    grid-auto-flow: column;
    width: fit-content;
    /*ajusta o tamanho da coluna ao tamanho do conteudo*/
}

footer .social a {
    transition: 0.3s;
    /*transição para os botoes da social media*/
    display: inline-block;
    /*deve colocar o display: inline-block porque o display-inline não aceita o transform....*/
}

footer .social a:hover {
    transform: translateY(-7px);
    /*...o transform será aplicado quando passar o mouse por cima do botão*/
}


/*=====BACK TO TOP=======*/
.back-to-top {
    background: var(--base-color);
    color: var(--body-color);
    font-size: var(--font-size-icon);

    position: fixed;
    right: 1rem;
    bottom: 1rem;

    padding: 0.5rem;
    clip-path: circle();
    line-height: 0;


    /*sumir com o botão de back e aparecer somente quando estiver rolando na pagina*/
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    transform: translateY(100%);
    /*o transform em 100% deixa o botão back fora da tela...*/
}

.back-to-top.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    /*...e quando o JS coloca o show no html, o botão back surge de baixo para cima até chegar na posição 0*/
}


/*=====DIVIDERS======*/
.divider-1 {
    height: 1px;
    background: linear-gradient(270deg,
            hsla(var(--hue), 36%, 57%, 1) 0%,
            hsla(var(--hue), 65%, 88%, 0.34) 100%);
}

.divider-2 {
    height: 1px;
    background: linear-gradient(270deg,
            hsla(var(--hue), 65%, 88%, 0.34) 0%,
            hsla(var(--hue), 36%, 57%, 1) 100%);
}



/*MEDIA QUERIES -responsividade*/

/*DESAFIO*/

/*extra large devices: 1200>*/
@media(min-width: 1200px) {

    /*=====LAYOUT==================*/
    main {
        margin-top: var(--header-heigth);
    }

    .container {
        align-items: center;
        margin: 0 10rem;
        max-width: 75rem;
    }

    .section {
        padding: 7rem 0;
        align-items: center;
    }

    .section header {
        max-width: 32.6875rem;
        margin: 0 auto 4rem;
        text-align: center;
    }

    .button {
        height: 3.125rem;
    }

    /*===MOSTRAR MENU===*/
    nav .menu {
        /*aparecer a lista de menu*/
        opacity: 1;
        visibility: visible;
        top: 0;
    }

    nav .menu ul {
        /*aparecer a lista de menu*/
        display: flex;
    }

    nav .menu ul li a.title {
        font: 400 var(--font-size-text) var(--font-type-title);
        -webkit-font-smoothing: antialiased;
        /*para que o BOLD do menu ul li a.active funcione é necessario urar aqui para ele ficar normal e abaixo colocar o BOLD*/
    }

    nav .menu ul li a.active {
        font-weight: bold;
        -webkit-font-smoothing: auto;
        /*o -webkit-font-smoothing: antialiased; mantem a fonte fina e quando estiver ativa entra em bold*/
    }

    nav .icon-menu {
        display: none;
        /*some com o icone do menu*/
    }


    /*=====HOME==================*/
    #home .container {
        grid-auto-flow: column;
        /*Coloca os elementos de dentro do container em colunas*/
        justify-content: space-between;
        align-items: center;
        margin: 0 10rem;
    }

    #home img {
        margin-left: 3rem;
    }

    #home .image {
        order: 1;
        /*ORDER so funciona dentro de uma caixa grid ou flex*/
        max-width: 35.0625rem;
    }

    #home .image::before {
        top: -22.3%;
        left: 25%;
    }

    #home .text {
        margin: 0;
        order: 0;
        max-width: 24.75rem;
        text-align: left;
    }

    #home .text p {
        text-align: left;
    }


    /*===ABOUT==================*/
    #about .container {
        grid-auto-flow: column;
        align-items: center;
        margin: 0 10rem;
    }

    #about .grid {
        gap: 4rem;
    }

    #about .text {
        margin: 0;
    }

    #about .image {
        max-width: 35.0625rem;
        height: auto;
    }

    #about .image::before {
        top: -22.3%;
        left: -20%;
    }

    /*===SERVICE==================*/
    #service .grid {
        gap: 2rem;
    }


    #service .text p {
        text-align: center;
        margin-bottom: 4rem;
    }

    .cards {
        grid-template-columns: 1fr 1fr 1fr;
        /*divide o tamanho do .cards em 3 partes ou 2 ou quantas desejar, assim mantem os tamanho dos cards iguais*/
    }

    .card-service {
        padding-left: 3rem;
        padding-right: 3rem;
    }


    /*===TESTIMONIALS=============*/
    #testimonials .container {
        align-items: center;
        margin: 0 9rem;
    }

    .swiper-slide {
        padding: 4rem 1rem;
        /*coloca padding nas margens externas para manter o tamanho dos cards dentro do tamanho da tela*/
    }

    #testimonials .title {
        text-align: center;
    }

    #testimonials .text {
        margin: 0 auto;
    }


    /*===CONTACT==================*/
    #contact .container {
        grid-auto-flow: column;
        align-items: center;
        margin: 0 10rem;
        justify-content: space-between;
    }

    #contact .text {
        max-width: 25rem;
        text-align: left;
    }

    #contact li {
        text-align: left;
    }

    /*===FOOTER==================*/
    footer.section {
        padding: 3.75rem 0;
    }

    footer .container {
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-between;
    }



    :root {
        --font-size-title: 2rem;
        /*font 36*/
        --font-size-subtitle: 1.5rem;
        /*font 24*/
        --font-size-text: 1.125rem;
        /*font 20*/

        --button-padding: 1rem 1.5rem;


    }
}